{% extends "admin/layout.html" %}
{% load static %}
{% block styles %}

    <link href="{% static 'account/css/bootstrap-markdown.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row page-title-row">
        <div class="col-md-12">
            <h3>Posts <small>» Add New Post</small></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Post Form</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" id="create_post">
                        {% csrf_token %}
                        {% include 'admin/post/_form_post.html' %}

                     <div class="col-md-8">
                         <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <i class="fa fa-disk-o"></i>
                                    Save New Post
                                </button>
                            </div>
                         </div>
                     </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="{% static 'account/js/bootstrap-markdown.js' %}"></script>
<script src="//rawgit.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>


<script>
            $("#content").markdown({autofocus:false,savable:false})
    $(document).on('submit', '#create_post', function (e) {
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'',
            data:{
                csrfmiddlewaretoken: getCookie('csrftoken'),
                title:$('#title').val(),
                content:$('#content').val(),
                tags:$('#tags').val(),
                slug:$('#slug').val()
            },

            success:function (json) {
                if (json.status == 'success'){
                    toastr.success(json.message)
                }else{
                    toastr.error(json.message)
                }
            }
        })
    });


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
     }
</script>

{% endblock %}