{% extends "app.html" %}

{% block content %}
<body class="login">
 <div>
    <div class="login_wrapper">
            <div class="animate form login_form">
                {% include 'partials/success.html' %}
                <section class="login_content">
                    <form class="form-horizontal" role="form" id="login">

                        <h1>Login Form</h1>


                        {% csrf_token %}

                        <div class="form-group">
                                <input id="username" type="username" class="form-control" name="username" required autofocus>
                        </div>
                        <div class="form-group">
                                <input id="password" type="password" class="form-control" name="password" required>

                        </div>
                        <div>
                            <button class="btn btn-default submit">Log in</button>
                            <a class="reset_pass" href="{% url 'password_reset' %}">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">New to site?
                                <a href="{% url 'Admin:register' %}"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}