<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
  <title>{% block title %}Next Day | Blog {% endblock %}</title>

  <!-- Styles -->
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  {% block styles %}{% endblock %}

  <!-- HTML5 Shim and Respond.js for IE8 support -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
{% include 'blog/partials/page-nav.html' %}

{% block page-header %}{% endblock %}
{% block content %} {% endblock %}

{% include 'blog/partials/page-footer.html' %}

<!-- Scripts -->
<script src="{% static '/js/blog.js' %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>
