{% extends "index.html" %}

{% block title%} About Me {% endblock %}

{% block active %}
    <li><a href="{% url 'Display:index' %}">Home</a></li>
    <li><a href="#">About</a> </li>
    <li class="active">About Me</li>
{% endblock %}


{% block blog_content %}
    <div class="panel panel-default">
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <div class="panel-heading">个人基本信息</div>
        <div class="panel-body">
        姓名：<br />
        电子邮件:<div class="panel panel-default"><div class="panel-body">bGlud2VpanVuOTMzMTVAZ21haWwuY29t</div> </div>
        性别：<br/>
        现居城市：<br />
        个人评价：<br />
        擅长技术:<br />
        </div>
    </div>
    <div class="panel panel-default">
         <div class="panel-heading">工作经历</div>
        公司名称：
        开始时间 - 技术时间
        {{ request.path }}


    </div>
    <div class="panel panel-default">
         <div class="panel-heading">教育经历</div>
         学校：<br/>
         开始时间 - 结束时间

    </div>
    <div class="panel panel-default">
         <div class="panel-heading">开原项目</div>
        项目名称：       连接小图标
        说明：

    </div>

{% endblock%}